# STORY_USE_LLM=0
# STORY_SLIDE_STYLE=story
# FFMPEG_PATH=
# ANIMATION_OUT_ROOT=C:\Users\badri\Story\out
# ANIMATION_DETERMINISTIC_SLIDES=1
# QUALITY_GATE_STRICT=0
# FRAME_GATE_STRICT=0
# CONTINUITY_GATE_STRICT=0
# STORY_UI_PASSWORD=
# WILLIAMS_RULES_PATH=C:\Users\badri\انیمیشن
# OPENROUTER_API_KEY=
# DEEPSEEK_API_KEY=
# LLM_PROVIDER=openrouter
# OPENROUTER_APP_TITLE=Story Narrative Tool
