runpod==1.6.2
diffusers==0.27.2
huggingface-hub==0.23.2
transformers
accelerate
pydub
moviepy==1.0.3
opencv-python
scipy
soundfile
numpy<2.0.0
pillow
rembg
onnxruntime-gpu
pyyaml
matplotlib
imageio
shapely
